.true{
    background-color:white;
    color:white;
    text-align: left;
    padding-left: 13% !important;
}

.false{
    padding-left: 13% !important;
    background-image: -webkit-gradient(linear,left top,right top,color-stop(50%,#036),color-stop(70%,#008fd1),color-stop(90%,#036)) !important;
    background-image: linear-gradient(-270deg,#036 50%,#008fd1 70%,#036 90%) !important;
    color:white;
    text-align: left;
}
.DownFooter {
    float: left;
    padding-left: 9% !important;
    background:white;
    color:#036;
    text-align: left;
}

.logo {
        
        width:85px !important;
        height:65px !important; 
        float: center !important;
        margin-left: 60% !important;
}