.true{
    background-color:white;
    color:white;
    padding-left: 13% !important;
}

.false{
    padding-left: 13% !important;
    background:#036;
    color:white;
    
}
.DownFooter {
    float: left;
    padding-left: 6% !important;
    background:white;
    color:#036;
    font-family: Source Sans Pro !important;
    font-size:small !important;
    line-height: 1.1;
    
}

.logo {
        
        width: 97px !important;
        height:95px !important; 
        float: center !important;
        margin-left: 75% !important;
}  

.logos{
    margin-left: 84% !important;
}
.omv_svg_resize {
    transform: scale(0.60) !important;
    -ms-transform: scale(0.60) !important;
    -webkit-transform: scale(0.60) !important;
    filter: invert(100%) !important;
    margin-bottom: 10px;
    margin-top: -5px;
}